<div *ngIf="showMsg" class="alert alert-danger">
  <p>last name required</p>
</div>

<div *ngIf="showAdrsMsg" class="alert alert-danger">
  <p>Street name is required</p>
</div>

<div *ngIf="undefinedMsg" class="alert alert-danger">
  <p>first name required</p>
</div>

<div *ngIf="showHouseNumMsg" class="alert alert-danger">
  <p>House number required</p>
</div>

<div *ngIf="showcityMsg" class="alert alert-danger">
  <p>city name required</p>
</div>

<div *ngIf="showstateMsg" class="alert alert-danger">
  <p>State name required</p>
</div>

<div *ngIf="showzipNumMsg" class="alert alert-danger">
  <p>zip code required</p>
</div>