<div *ngIf="showFullNameMsg" class="alert alert-danger">
  <p>Name is Required</p>
</div>

<div *ngIf="showInvalidNameMsg" class="alert alert-danger">
  <p>Write valid name</p>
</div>

<div *ngIf="showLastNameMsg" class="alert alert-danger">
  <p>last name required</p>
</div>

<div *ngIf="showAdrsMsg" class="alert alert-danger">
  <p>House number and Street name required</p>
</div>

<div *ngIf="showHouseNumMsg" class="alert alert-danger">
  <p>House number should only be a number value</p>
</div>

<div *ngIf="showStreetMsg" class="alert alert-danger">
  <p>Street Name after house number is required</p>
</div>

<div *ngIf="showcityMsg" class="alert alert-danger">
  <p>city name required</p>
</div>

<div *ngIf="showstateMsg" class="alert alert-danger">
  <p>State name required</p>
</div>

<div *ngIf="showzipNumMsg" class="alert alert-danger">
  <p>six digit zip code required</p>
</div>

<div *ngIf="showNumMsg" class="alert alert-danger">
  <p>Enter only Numbers</p>
</div>

<div *ngIf="showNumLengthMsg" class="alert alert-danger">
  <p>Enter ten digit Phone Number</p>
</div>

<div *ngIf="showEmailMsg" class="alert alert-danger">
  <p>Email address not in proper format</p>
</div>